body  {
  font-family: 'Playfair Display';
  background: #fff8f5;
  line-height: 1.4;
  margin: 0 auto;
  padding: 20px;
}

.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
h1, h3 {
   color: salmon;
}

img {
   display: block;
   margin: 10px 0;
   border-radius: 8px;
}

p {
  text-align: justify;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-size: 3em; 
  margin-top: 30px;
  color: salmon; 
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  margin-top: 20px;
  
}

.column {
  min-width: 0;
  flex: 1;
}



.row {
  display: flex;
  justiify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.author {
  text-align: center;
  padding: 10px;
  
}

@media (max-width: 600px) {
  .row {
    flex-direction: column; 
    padding: 20px;
    align-items: center;
  }
}

